//resource.rc

LANGUAGE 9, 1

#define IDR_VERSIONINFO         0x0001 //1

#define IDI_GD3TAG              0x0064 //100
#define IDI_GD3TAGSM            0x0065 //101
#define IDI_KAZUSOFT            0x0066 //102
#define IDI_WRENCH              0x0067 //103

#define IDD_MAIN                0x03E8 //1000
//#define IDC_SBR_MAIN            0x03E9 //1001
//#define IDC_LIV_MAIN            0x03EA //1002

#define IDD_GENOPTS             0x07D0 //2000
#define IDC_CHK_SHOWFULLPATH    0x07D1 //2001

#define IDR_MENUMAIN            0x2710 //10000
#define IDM_FILE                0x2711 //10001
#define IDM_OPEN                0x2712 //10002
#define IDM_SAVE                0x2713 //10003
#define IDM_SAVEAS              0x2714 //10004
#define IDM_CLOSE               0x2715 //10005
#define IDM_EXIT                0x2716 //10006
#define IDM_OPTIONS             0x2717 //10007
#define IDM_ABOUT               0x2718 //10008

#define IDS_APPNAME             0x0001 //1
#define IDS_ABOUT               0x0002 //2
#define IDS_VER32BIT            0x0003 //3
#define IDS_VER64BIT            0x0004 //4
#define IDS_BUILDDATE           0x0005 //5
#define IDS_COMPILER            0x0006 //6
#define IDS_SIGNATURE           0x0007 //7
#define IDS_OPTIONS             0x0008 //8
#define IDS_READONLY            0x0009 //9

#define IDS_LVI_HEAD_VGMVER     0x0100 //256
#define IDS_LVI_HEAD_LOOPBASE   0x0101 //257
#define IDS_LVI_HEAD_LOOPMOD    0x0102 //258
#define IDS_LVI_HEAD_LOOPSAMP   0x0103 //259
#define IDS_LVI_HEAD_TOTALSAMP  0x0104 //260
#define IDS_LVI_HEAD_VOLMOD     0x0105 //261
#define IDS_LVI_HEAD_RATE       0x0106 //262
#define IDS_LVI_HEAD_EOFOFF     0x0107 //263
#define IDS_LVI_HEAD_GD3OFF     0x0108 //264
#define IDS_LVI_HEAD_LOOPOFF    0x0109 //265
#define IDS_LVI_HEAD_EXTOFF     0x010A //266

#define IDS_LVH_HEAD_NAME       0x0200 //512
#define IDS_LVH_HEAD_VALUE      0x0201 //513
#define IDS_LVH_HEAD_VALUEHEX   0x0202 //514

#define IDS_MSG_UNSAVED         0x0300 //768
#define IDS_MSG_UIUPFAIL        0x0301 //769
#define IDS_MSG_UIINITFAIL      0x0302 //770
#define IDS_MSG_VGMFORMATBAD    0x0303 //771

#define IDS_REG_SHOWFULLPATH    0x0400 //1024
#define IDS_REG_CUSTFILT        0x0401 //1025
#define IDS_REG_LVHEAD          0x0402 //1026
#define IDS_REG_LVHEAD_COL1     0x0403 //1027
#define IDS_REG_LVHEAD_COL2     0x0404 //1028
#define IDS_REG_LVHEAD_COL3     0x0405 //1029

#define IDS_FILTER              0x0500 //1280

//define property sheet sizes because GoRC doesn't seem to include these definitions by default.
#define PROP_SM_CXDLG           0x00D4 //212
#define PROP_SM_CYDLG           0x00BC //188
#define PROP_MED_CXDLG          0x00E3 //227
#define PROP_MED_CYDLG          0x00D7 //215
#define PROP_LG_CXDLG           0x00FC //252
#define PROP_LG_CYDLG           0x00DA //218

IDR_VERSIONINFO VERSIONINFO
FILEVERSION     1, 2, 0, 5
PRODUCTVERSION  1, 1, 0, 1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD | VS_FF_DEBUG
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileVersion",        "1.2.0.5\0"
            VALUE "ProductVersion",     "1.1.0.1\0"
            VALUE "CompanyName",        "Kazusoft Co.\0"
            VALUE "LegalCopyright",     "Copyright (c) 2019 Kazusoft Co.\0"
            VALUE "LegalTrademarks",    "Kazusoft Co. and the Kazusoft logo are Trademarks of Lisa Murray\0"
            VALUE "FileDescription",    "Editor for GD3 Tags\0"
            VALUE "InternalName",       "GD3Edit\0"
            VALUE "OriginalFilename",   "GD3Edit.exe\0"
            VALUE "ProductName",        "GD3Edit\0"
            VALUE "PrivateBuild",       "Built by Lisa for testing new modules.\0"
            VALUE "SpecialBuild",       "Test build\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x0000
    END
END

IDI_GD3TAG      ICON "Res/GD3Tag_64x64.ico"
IDI_GD3TAGSM    ICON "Res/GD3Tag_32x32.ico"
IDI_KAZUSOFT    ICON "Res/Kazusoft.ico"
IDI_WRENCH      ICON "Res/wrench.ico"

IDD_MAIN DIALOGEX 10, 10, 230, 160
CAPTION     "GD3Edit"
FONT        10, "Tahoma", 400, 0, 0
CLASS       "MAINCLASS"
LANGUAGE    9, 1
STYLE       WS_CAPTION | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPED | WS_OVERLAPPEDWINDOW | WS_SIZEBOX | WS_SYSMENU | WS_VISIBLE //0x10CF0000
EXSTYLE     WS_EX_APPWINDOW | WS_EX_LEFT | WS_EX_LTRREADING | WS_EX_RIGHTSCROLLBAR | WS_EX_CONTROLPARENT
BEGIN
END

IDD_GENOPTS DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION     "General Options"
FONT        10, "Tahoma", 400, 0, 0
LANGUAGE    9, 1
STYLE       WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE     0x00010080
BEGIN
    AUTOCHECKBOX "Show Full Path Names in Title Bar", IDC_CHK_SHOWFULLPATH, 10, 10, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
END

IDR_MENUMAIN MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "&File", IDM_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Open", IDM_OPEN, MFT_STRING, MFS_ENABLED
        MENUITEM "&Save", IDM_SAVE, MFT_STRING, MFS_DISABLED
        MENUITEM "Save &As", IDM_SAVEAS, MFT_STRING, MFS_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "&Close", IDM_CLOSE, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "&Options", IDM_OPTIONS, MFT_STRING, MFS_ENABLED
    END
    MENUITEM "&About", IDM_ABOUT, MFT_STRING, MFS_ENABLED
END

STRINGTABLE
LANGUAGE 9, 1
BEGIN
    IDS_APPNAME             "GD3Edit"
    IDS_ABOUT               "GD3Edit\nVGM Header and GD3 Tag Editor\nCopyright (c) 2019 Kazusoft Co.\nKazusoft Co. and the Kazusoft logo are Trademarks of Lisa Murray\n"
    IDS_VER32BIT            "\nWin32 Version"
    IDS_VER64BIT            "\nWin64 Version"
    IDS_BUILDDATE           "\nBuild Date:\t"
    IDS_COMPILER            "\nCompiler Information:"
    IDS_SIGNATURE           "\nSignature:\t\t"
    IDS_OPTIONS             "GD3Edit Options"
    IDS_READONLY            "Read Only"
    IDS_LVI_HEAD_VGMVER     "VGM Version\0"
    IDS_LVI_HEAD_LOOPBASE   "Loop Base\0"
    IDS_LVI_HEAD_LOOPMOD    "Loop Modifier\0"
    IDS_LVI_HEAD_LOOPSAMP   "Loop Samples\0"
    IDS_LVI_HEAD_TOTALSAMP  "Total Samples\0"
    IDS_LVI_HEAD_VOLMOD     "Volume Modifier\0"
    IDS_LVI_HEAD_RATE       "Rate\0"
    IDS_LVI_HEAD_EOFOFF     "End of File Offset\0"
    IDS_LVI_HEAD_GD3OFF     "GD3 Tag Offset\0"
    IDS_LVI_HEAD_LOOPOFF    "Loop Offset\0"
    IDS_LVI_HEAD_EXTOFF     "Extra Header Offset\0"
    IDS_LVH_HEAD_NAME       "Name\0"
    IDS_LVH_HEAD_VALUE      "Value\0"
    IDS_LVH_HEAD_VALUEHEX   "Value (Hex)\0"
    IDS_MSG_UNSAVED         "There are unsaved changes in the current file that will be lost if you don't save them.\nWould you like to save them now?"
    IDS_MSG_UIUPFAIL        "Failed to update the UI."
    IDS_MSG_UIINITFAIL      "Failed to initialize the UI."
    IDS_MSG_VGMFORMATBAD    "The VGM file's format is invalid."
    IDS_REG_SHOWFULLPATH    "Show Full Path in Title Bar"
    IDS_REG_CUSTFILT        "Custom File Filter"
    IDS_REG_LVHEAD          "VGM Header Listview"
    IDS_REG_LVHEAD_COL1     "Name Column Width"
    IDS_REG_LVHEAD_COL2     "Value Column Width"
    IDS_REG_LVHEAD_COL3     "Hex Value Column Width"
    IDS_FILTER              "VGM Files (*.VGM)\0*.VGM\0All Files\0*.*\0\0"
END

//EOF
